name: Storybook GitHub Pages

on:
    push:
        branches:
            - trunk

# Disable permissions for all available scopes by default.
# Any needed permissions should be configured at the job level.
permissions: {}

jobs:
    deploy:
        runs-on: 'ubuntu-24.04'
        permissions:
            contents: write
        if: ${{ github.repository == 'WordPress/gutenberg' }}

        steps:
            - name: Checkout
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
              with:
                  ref: trunk
                  show-progress: ${{ runner.debug == '1' && 'true' || 'false' }}
                  persist-credentials: false

            - name: Setup Node.js and install dependencies
              uses: ./.github/setup-node

            - name: Build Storybook
              env:
                  NODE_OPTIONS: --max-old-space-size=8192
                  NODE_ENV: production
              run: npm run storybook:build

            - name: Deploy
              uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./storybook/build
                  force_orphan: true
